---
interface Props {
  title: string;
  date?: string;
  body: string;
}

const { title, date, body } = Astro.props;
---

<div>
  <h3>{title}</h3>
  <time datetime={date} title={date}>{date}</time>
  <p>{body}</p>
</div>

<style>
  div {
    color: #ddd;
    padding: 1rem;
    border-radius: 0.5rem;
    background-color: #ffffff00;
    transition: all 0.2s ease-in-out;
    transform: translateX(-0.5rem);
    width: fit-content;
  }
  div:hover {
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.726);
    background-color: #ccc;
    color: #000;
    transform: translateX(0);
  }

  h3 {
    margin-bottom: 0.5rem;
    word-break: break-word;
    word-wrap: break-word;
    hyphens: auto;
  }

  time {
    font-size: 0.8rem;
    color: #aaa;
  }
  div:hover time {
    color: #000;
  }

  p {
    margin-top: 0.5rem;
    line-height: 1.5;
    max-width: 50rem;
  }
  @media (max-width: 768px) {
    p {
      max-width: 80vw;
      width: 100%;
    }
    div {
      transform: translateX(-1.5rem);
      overflow: hidden;
    }
    div:hover {
      box-shadow: none;
      transform: translateX(-1rem);
    }
  }
</style>
